@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-background: #0f172a;
  --color-surface: #1e293b;
  --color-danger: #ef4444;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: #f3f4f6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
